#header {    
    padding: 1em 0;
}

#header .nav {
    text-align: right;
}

#header .nav a{
    text-decoration: none; /* Tira o sublinhado do link a */
    padding: 0 1em; /* Espaçamento */
    color: #292929 ;
}

#header .bg {
    background: linear-gradient(#E9EEF2, #E6EBEF);
    margin: 2em 0;
    min-height: 400px; /* Altura mínima */
    text-align: center;
}

#header .bg h1 {
    padding: 1.5em 0 0 0;
    font-size: 3em;    
}


.btn {
    padding: 12px 15px;
    border-radius: 30px;
    background: #ececec;
    text-decoration: none;
}

.btn.btn-blue {
    background: #267df4;
    color: #ffffff;
}

.img-responsive {
    max-width: 100%;
}

#content .right {
    float: right;
    transform: scaleX(-1); /* Inverte os lados da propriedade */
}

#content .right .text {    
    transform: scaleX(-1); /* Inverte os lados da propriedade */
}

#content h4 {
    padding: 1em;
    font-size: 1em;
}

#content p {
    padding: 1.5em;
}

#content .title {
    text-align: center;
}